<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Go-HTMX</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="row mt-4 g-4">
      <div class="col-1"></div>
      <div class="col-6">
        <!-- Current list of tasks -->
        <h2 class="mb-4">To Do List:</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="todo-list">
            {{ range $index, $task := .TodoList }}
            <tr>
              <td>{{ $task.Label }}</td>
              <td>{{ $task.Date.Format "2006-01-02" }}</td>
              <td>
                <form
                  hx-post="/markAsCompleted"
                  hx-swap="outerHTML"
                  hx-target="#completed-tasks"
                  hx-trigger="click"
                >
                  <input type="hidden" name="taskId" value="{{ $task.Id }}" />
                  <button type="submit" class="btn btn-success" hx-delay="1000">
                    Mark Completed
                  </button>
                </form>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <!-- Submit form for new "todo" item -->
        <h2 class="mb-4">Add "To Do" task:</h2>
        <form
          id="add-todo-form"
          hx-post="/addTodo"
          hx-target="#todo-list"
          hx-trigger="click"
          hx-swap="beforeend"
        >
          <div class="md-2">
            <label for="label">Task Name:</label>
            <input
              type="text"
              id="label"
              name="label"
              placeholder="Your task name here..."
              class="form-control"
              required
            />
          </div>
          <div class="md-3">
            <label for="date">Complete until:</label>
            <input
              type="date"
              id="date"
              name="date"
              placeholder="Day to execute the task"
              class="form-control"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
          <button type="reset" class="btn btn-danger">Reset Form</button>
        </form>

        <!-- Completed tasks table -->
        <h2 class="mt-5 mb-4">Completed Tasks:</h2>
        <table class="table table-secondary" id="completed-tasks">
          <thead>
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {{ range $index, $task := .CompletedTasks }}
            <tr>
              <td>{{ $task.Label }}</td>
              <td>{{ $task.Date.Format "2006-01-02" }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
